@import "variables.less";

// EDIT BELOW THIS LINE

body {
    display:grid;
    grid-template-columns: auto 250px;
}
#right-aside {
    background-color:#B5BFA1;
    text-align: center;
}
#main {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        "primary-nav"
        "secondary-nav"
        "cities"
        "banner-area"
        "footer";
    background-color: #EDBFB7;
    text-align: center;
}

#primary-nav {
    grid-area: primary-nav;
    background-color:  #F283B6;
    border-bottom: 8px solid #E06C9F;
    padding-top: 10px;
}

#primary-nav img {
    width: 200px
}

#secondary-nav {
    grid-area: secondary-nav;
}

#secondary-nav ul li a, #banner {
    color:white;
    font-size: 1.5em;
}

#secondary-nav ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}

#secondary-nav ul li {
    padding-top: 20px;
    font-weight: bold;
}
#secondary-nav ul li a {
    padding: @commonPadding;
    vertical-align: 50%;
}

#right-aside-inside {
    display: none;
}

.pilot {
    padding: @commonPadding;
    border-left: 8px solid #6E9887;
    color:white;
}
.pilot img {
    width: 150px;
}

.cities {
    grid-area: cities;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    text-align: left;
}

.cities li {
    padding: 20px;
    border: 2px solid #E06C9F;
}
.city-img {
    width: 250px;
    height: 150px;
    background-size: 120%; /* ath passar ekki í 100% */
}
.text-wrapper h2 {
    font-size: 2em;
    margin-top: 10px;
}
.banner-area {
    grid-area: banner-area;
    padding: @commonPadding;
}
.city-previews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: @commonPadding;
}
.city-previews li { 
    height:150px;
    width: 150px;
    border-radius: 50%;
    background-size: 170%; /* ath passar ekki í 100% */
}

footer {
    grid-area: footer;
    background-color: #F283B6;
    border-top: 8px solid #E06C9F;
    padding: @commonPadding;

}