@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5Ectllte10k.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothic'), url(https://fonts.gstatic.com/s/nanumgothic/v7/PN_3Rfi-oW3hYwmKDpxS7F_D-djb.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url(https://fonts.gstatic.com/s/nanumgothic/v7/PN_oRfi-oW3hYwmKDpxS7F_LQv3LyVsj.ttf) format('truetype');
}
body {
  display: grid;
  grid-template-columns: auto 250px;
}
main {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "primary-nav" "secondary-nav" "cities" "banner-area" "footer";
  background-color: #EDBFB7;
  text-align: center;
}
main #primary-nav {
  grid-area: primary-nav;
  background-color: #F283B6;
  border-bottom: 8px solid #E06C9F;
  padding-top: 10px;
}
main #primary-nav img {
  width: 200px;
}
main #secondary-nav {
  grid-area: secondary-nav;
}
main #secondary-nav ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
}
main #secondary-nav ul li {
  padding-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
main #secondary-nav ul li a {
  padding: 40px;
  vertical-align: 100%;
  color: white;
  font-size: 1.5em;
}
main .cities {
  grid-area: cities;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  text-align: left;
}
main .cities li {
  padding: 20px;
  border: 2px solid #E06C9F;
}
main .cities li .city-img {
  width: 250px;
  height: 150px;
  background-size: cover;
  /* ath passar ekki í 100% */
  margin-bottom: 10px;
}
main .cities li div h2 {
  font-size: 2em;
}
main .banner-area #banner {
  padding: 20px;
  color: white;
  font-size: 1.5em;
}
main .banner-area #banner h1 {
  font-weight: 100;
}
main .banner-area #banner .city-previews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px;
}
main .banner-area #banner .city-previews li {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: 150px 150px;
}
main .banner-area #right-aside-inside {
  display: none;
}
main footer {
  grid-area: footer;
  background-color: #F283B6;
  border-top: 8px solid #E06C9F;
  padding: 40px;
}
.pilot {
  padding: 40px;
  border-left: 8px solid #6E9887;
  color: white;
  background-color: #B5BFA1;
  text-align: center;
}
.pilot img {
  width: 150px;
}
/* tablet */
@media screen and (max-width: 1024px) and (min-width: 451px) {
  body {
    grid-template-columns: auto;
    font-size: 0.8em;
  }
  #right-aside {
    display: none;
  }
  main {
    grid-template-areas: "primary-nav" "secondary-nav" "cities" "banner-area" "footer";
  }
  main .cities {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: 0.6em;
  }
  main .cities li {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  main .cities li .city-img {
    width: 200px;
    height: 130px;
    background-size: cover;
    /* ath passar ekki í 100% */
    margin-right: 20px;
    align-self: baseline;
  }
  main .cities li:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
  }
  main .cities li:nth-child(3) .city-img {
    order: 1;
    width: 250px;
    height: 140px;
    background-size: cover;
    align-self: center;
    justify-self: right;
  }
  main .banner-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .banner-area #right-aside-inside {
    display: inline-block;
  }
  main .banner-area #banner {
    padding: 40px;
  }
  main .banner-area #banner h1 {
    align-self: center;
    justify-self: center;
    font-weight: 100;
  }
  main .banner-area #banner .city-previews {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  main .banner-area #banner .city-previews li {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-size: cover;
    background-position: 100px 100px;
    align-self: center;
    justify-self: center;
  }
  main .banner-area .pilot {
    border-left: 0px;
  }
  main footer {
    padding: 20px;
  }
}
/*mobile*/
@media screen and (max-width: 450px) {
  body {
    font-size: .6em;
    grid-template-columns: auto;
  }
  #right-aside {
    display: none;
  }
  main {
    grid-template-areas: "primary-nav" "secondary-nav" "cities" "banner-area" "footer";
    background-color: #EDBFB7;
  }
  main .cities {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  main .cities li {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: column;
    text-align: left;
    align-items: center;
    justify-self: center;
  }
  main .cities li:nth-child(even) .city-img {
    order: 1;
    margin-left: 20px;
  }
  main .cities li .city-img {
    width: 160px;
    height: 100px;
    background-size: cover;
    margin-right: 20px;
    align-self: baseline;
  }
  main .banner-area {
    padding: 15px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  main .banner-area #right-aside-inside {
    display: none;
  }
  main .banner-area #banner h1 {
    font-weight: 100;
    align-self: center;
    justify-self: center;
    justify-content: space-around;
  }
  main .banner-area #banner .city-previews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
  }
  main .banner-area #banner .city-previews li {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: 60px 60px;
  }
  main footer {
    padding: 20px;
  }
}
